################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BimEducation/obj/Debug
/BimEducation/.vs
/BimEducation/bin/Debug
